@-ms-viewport{
  width: device-width;
}
/* ==========================================================================
Body & Backgorund Options
========================================================================== */
body {
	background: #000;
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-overflow-scrolling: touch;
}
/* ==========================================================================
Logo Options
========================================================================== */
img.logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
/* ======================================================
Logo Hover Options - http://tinyurl.com/j9ankp5
====================================================== */
img.logo:hover {
    -ms-transform: scale(1.125) rotate(7deg);
    -webkit-transform: scale(1.125) rotate(7deg);
    transform: scale(1.125) rotate(7deg);
}
/* ==========================================================================
Text Options
========================================================================== */
/* ======================================================
Titles
====================================================== */
.title {
    color: #00AAAA;
    font-weight: 1000;
}
.subtitle {
    color: #00AAAA;
    font-weight: 1000;
}
.points {
    color: #6B878C;
    font-weight: 2000;
}
/* ======================================================
Text
====================================================== */
.text {
    color: #00dddd;
    font-weight: 600;
}
a {
    color: #37B9CD;
    font-weight: 300;
}
a:hover {
    color: #64C8D8;
    text-transform: uppercase;
}
/* ===================================
Font
=================================== */
* {
    font-family: 'Open Sans', sans-serif;
}
/* ==========================================================================
Highlight Options
========================================================================== */
::selection {
    background: #66cccc;
    color: white
}
::-moz-selection {
    background: #66cccc;
    color: white
}